.table {
    display: table;
    padding: 5px;  
    color: 	#FF6347;     
}

.row-head {
    display: table-row;
    padding: 5p;
    background-color: #003300;
    color: 	#FF4500;
    font-weight: 500 ;
}
.row-dark {
    display: table-row;
    padding: 5p;
    background-color:  #404040;        
}
.row-light {
    display: table-row;
    padding: 5p;
    background-color:	#595959;
}

.cell-id {
    display: table-cell;
    padding: 5px;
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
}
.cell-name {
    display: table-cell;
    padding: 5px;
    width: 300px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: left;
}

.topnav {
    background-color: 336699;
    overflow: hidden;
}

.topnav a {
    float: left;
    color:	#FF6347;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.content {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 12px;
    background-color: black;
    padding: 1%;
}

body , p {
    background-color: black;
    font-size: 100%;
    color:	#FF6347;
}


h1 {
    color:	#FF6347;
    font-family: "Quicksand", sans-serif;
    font-size: 190%;
    padding: 10px;
}

h2 {
    color: 	#FF6347;
    padding: 3px;
    font-size: 110%;
}

.icon {
    width: 16px;
    height: 16px;    
    margin-left: 10px;
}

.icon-button {
    width: 12px;
    height: 12px;    
    margin-left: 10px;
}

.form {
    width: 450px;    
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl(30%, 30%, 30%);
    border: 1px solid #FF6347;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.1rem;
}

button{
    border:1;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 1rem;
    border-color: #FF6347;
    background:none;
    /*And other css to remove the default button property */    
    color: 	#FF6347;
    gap: 0.1rem;

}

input[type="text"],
input[type="email"],
select,
textarea {
  font: 1rem / 1rem sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.1rem 0.1rem;
  background-color: #003300;
  color:#FF6347;
}